/* BASE STYLES
========================= */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.5em;
}

/* FOOTER */
footer {
  width: 100%;
  padding: 20px;
  font-family: 'Open Sans';
  margin-top: -1px;
  margin-bottom: auto;
  background-color: black;
  color: white;
  max-width: 960px;
  align-self: center;
  align-items: flex-end;
}
