/* LAYOUT STYLES
========================= */

.flex-site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-content-wrapper {
  width: 100%;
  flex: 1;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
  flex-direction: row;
}

main {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
}
/* HOME CONTENT */
.containerBox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90vh;
    background-color: #939393;
    margin-top: -1px;
}
.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}
/* home Info*/
#home-info{
 position: absolute;
 top: 90%;
 max-width: 960px;
 width: 100%;
}
/** SVG **/
.headerCurve{
  margin-bottom: -1px;
  width: 100%;
  height: 70px;
  margin-top: -20px;
}

.containerBox2{
  background-color: #444;
  text-align: center;
  padding-top: 88px;
  margin-top: -1px;
  margin-bottom: -10px;
}
.containerBox2 h2{
  color: hsla(0,0%,100%,.8);
  letter-spacing: 0;
  line-height: 46px;
  margin-bottom: 54px;
}
.containerBox2 img{
  width: 64%;
  max-width: 800px;
}
#curve{
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background-color: #939393;
}
/* --- About Layout --- */

.spacing-bar {
  width: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.student {
  width: 50%;
}

/* --- Unsubscribe List Layout --- */

.letter {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 1px solid #000;
}

.name-container {
  padding: 20px;
}

.name-container p {
  display: inline;
}

.unsub-container {
  padding: 10px;
}
/* FOOTER */

/*footer ul {
  position: fixed;
  top: 190%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  font-family: 'Open Sans';
}*/
