/* LAYOUT STYLES
========================= */

.flex-site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-content-wrapper {
  width: 100%;
  flex: 1;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
  flex-direction: row;
}

main {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
}
/* HOME CONTENT */
.containerBox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}
/* home Info*/
#home-info{
 margin-top: 80vh;
 max-width: 960px;
 width: 100%;
}
.row{
 position: relative;
 }
 .right, .left{
  width: 100%;
  padding: 20px;
  text-align: center;
 }
 .right > img, .left > img{
  height: 25vh;
  width: 75vw;
 }
.right > p, .left > p{
 padding: 2vw;
}
.right > h3, .left > h3{
 padding-bottom: 10px;
}
.right{
 float: top;
}
.left{
 float: bottom;
}
.contact{
 height:20vh;
 width:100%;
 padding: 20px;
 margin-top: 20%;
}
/* --- About Layout --- */

.spacing-bar {
  width: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.student {
  width: 50%;
}

/* --- Unsubscribe List Layout --- */
.letter {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 1px solid #000;
}

.name-container {
  padding: 20px;
}

.name-container p {
  display: inline;
}

.unsub-container {
  padding: 10px;
}
/* FOOTER */
@media only screen and (min-width: 640px){
 .row {
  height: 30vh;
 }
.right, .left{
 width: 50%;
 height: 40vh;
}
 .right > p, .left > p{
  padding: 0vw;
  text-align: left;
 }
 .right > h3, .left > h3{
  text-align: left;
 }
 .right > img, .left > img {
  height: 60%;
  width: 80%;
}
 .right{
  float: right;
 }
 .left{
  float: left;
 }

}
