/* MODULE STYLES
========================= */
/* HEADER */
nav li {
  margin-right: 20px;
}
nav li:last-child {
  margin-right: 0px;
}
header img {
  height: 90px;
  width: 300px;
}
#fullLogo {
  display: none;
}
.full-nav {
  display: none;
}

/* HOME PAGE CONTENT */
main h1{
  font-family: 'Open Sans';
  font-size: 45px;
  font-weight: bold;
  margin-top: 160px;
}
main h3 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 20px;
}
#authorize-button {
  height: 65px;
  width: 265px;
  background-color: #c71610;
  color: white;
  font-size: 20px;
  margin-top: 35px;
}
/*home page animation*/
#slide{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    left: -1000px;
    animation: slide 0.7s forwards;
    animation-delay: 0.3s;
    animation-iteration: 1;
}
#authorize-button {
  animation: fade;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slide {
    100% { left: 0; }
}

@keyframes fade {

  0% {opacity: 0}
  100% {opacity: 1}
}


/* main nav */
#main-nav li a {
  color: black;
}
#main-nav li a:hover {
  color: #c71610;
}
#logout-button:hover {
  cursor: pointer;
  color: #c71610;
}

.tab-content {
  display: none;
}
/* --- About Layout --- */

h2 {
  color: #c71610;
  font-size: 2em;
  font-weight: 700;
  padding: 20px;

}

.about-bio {
  font-size: 1em;
  padding: 10px;
}

.spacing-bar {
  border: 1px solid #eee;
  margin: 50px auto;
}

.student {
  padding: 20px;
}

.student h3 {
  color: #000;
  font-weight: 700;
  padding-bottom: 10px;
}

.student img {
  width: 150px;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
}

.student:hover h3 {
 color: #c71610;
 cursor: pointer;
}

.student:hover img {
 box-shadow: 0 0 10px #000;
 cursor: pointer;
}

/* flip image property */
.f1_container {
  position: relative;
  margin: 10px auto;
  width: 150px;
  height: 150px;
  z-index: 1;
  perspective: 100;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  border-radius:100px;
}
.f1_container:hover .f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
  border-radius:100px;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  color: white;
}
.icons{
 margin-top: 2em;
}
/*  ------ profile info --------  */
#profile{
 height: 9em;
 width: 100%;
}
#profile > img{
  display: inline;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 13vh;
  left: calc(50% - 1.5em);
  border-radius: 3em;
}
#profile-name{
 list-style: none;
 position: absolute;
 top: 19vh;
 left: calc(38%);
 font-size: 1em;
 font-weight: bold;
}
/*------------ unique emails no ------------*/
#number{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: absolute;
  top: 22.3vh;
  left: calc(50% - 28vw);
}
#profile p{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 22vh;
  left: calc(50% - 16vw);
  align-self: center
}
/* -------- Unsubscribe List -- */
#unsubscribe-page {
 background-color: #eee;
 border-radius: 2em;;
}
#unsubscribe-page ul > div{
 border-radius: 1em;
}
.letter span {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 10%;
}

.name-container {
  background-color: #c71610;
}

.name-container p {
  color: #fff;
  font-weight: 700;
}

.name-container a {
  color: #fff;
  font-size: .8em;
  font-weight: 700;
  margin-left: 10px;
}

.name-container a:hover {
  color: #000;
  transition: all 0.3s ease-in-out;
}

.unsub-container {
  background-color: #ccc;
}

.unsub-container a, .unsub-container div {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #000;
  margin-left: 33px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.icon-cross {
  color: #000;
}

.unsub-container a:hover, .unsub-container div:hover {
  color: #c71610;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
/* FOOTER */
footer h3 {
  font-family: 'Open Sans';
  font-size: 17px;
  text-align: center;
}

/* MEDIA QUERIES
========================= */
@media screen  and (max-width: 500px){
 nav li:last-child {
   position: absolute;
   right: 30px;
}
}
@media screen and (min-width: 440px) {

/*  PROFILE
============================*/
#profile P{
  left: calc(40%);
}
#profile div{
  left: calc(30%);
}
#profile-name{
 left: calc(42%);
}

}


@media screen and (min-width: 640px) {

  /* LAYOUT STYLES
  ========================= */

  /* --- About Layout --- */

  .flex-wrapper-viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* --- Unsubscribe List Layout --- */

  .flex-container {
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: center;
  }

  .name-container {
    width: 50%;
  }

  .unsub-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  /*  profile
  ========================================*/

  #profile img{
    height: 5em;
    width: 5em;
    left: calc(75%);
  }
  #profile-name{
   position: absolute;
   left: calc(74%);
   top: 24%;
  }
  #profile P {
      left: calc(20%);
      top: 22%;
  }
  #profile div {
   top: 17%;
   left: calc(30%);
  }

}

@media screen and (min-width: 760px) {

  /* LAYOUT STYLES
  ========================= */

  /* --- About Layout --- */

  .flex-wrapper-viewport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /*profile
  ======================*/
  #profile div {
   top: 22%;
   left: calc(45%);
}
/* FOOTER */
footer{
 margin-top: 0.8vh;
}
}
@media only screen and (min-width: 960px) {
  #profile p{
    left: calc(40%);
    }
    #profile div{
      left: calc(35%);
    }
   #profile > img, #profile-name{
     left: calc(50% + 238px);
   }
   /* FOOTER */
   footer{
    margin-top: 1.1vh;
   }
}
@media only screen and (min-width: 640px) {
  /* HEADER LOGO */
  #fullLogo {
    display: block;
  }
  #mobileLogo {
    display: none;
  }
  .full-nav {
    display: block;
  }
  .text-box h1 {
    font-size: 35px;
  }
  .text-box h3 {
    font-size: 15px;
  }
}
